<div class="bg-img">
    <div class="login-card">
        <div class="b1-flex b1-align-center b1-justify-center b1-flex-direction" style="height: 100%;">
            <div class="b1-flex">
                <div class="login-logo">
                    <img src="../../assets/images/logo-t18.png">
                </div>
                <div class="login-logo b1-ml-4">
                    <img src="../../assets/images/logo.png">
                </div>
            </div>

            <div class="login-title">
                Customs Status Check
            </div>
            <div class="login-subtitle">
                Making air cargo simpler, faster and better{{loading | async}}
            </div>
            <div class="login-form">
                <div class="login-form-input">
                    <i class="login-form-input_icon"><img src="../../assets/icons/username.svg"></i>
                    <input class="login-form-input_control" placeholder="Username" [(ngModel)]="email">
                </div>
                <div class="login-form-input b1-mt-5">
                    <i class="login-form-input_icon"><img src="../../assets/icons/password.svg"></i>
                    <input class="login-form-input_control" placeholder="Password" type="password"
                        [(ngModel)]="password">
                </div>
                <button class="login-form-button b1-mt-5" (click)="logIn()">
                    Sign In
                </button>
                <div class="login-form-forgot b1-mt-4">
                    Forgot Password? <a>Click here</a>
                </div>
            </div>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="white" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white">
                    Loading... </p>
            </ngx-spinner>
        </div>

    </div>
</div>